use_system = sge
q = all.q
mem_bwt2 = 100G
mem_dedup = 200G
mem_macs2 = 300G
mem_ataqc = 400G
trimmed_fastq = true
pe = true
nth = 8
title = hFOB_diff
enable_idr = true
species = hg19
species_file = /mnt/isilon/sfgi/atac_dnase_pipelines_genome_data/bds_atac_species.conf
fastq1_1 = hFOBsDiff_rep1_R1.fastq.gz
fastq1_2 = hFOBsDiff_rep1_R2.fastq.gz
fastq2_1 = hFOBsDiff_rep2_R1.fastq.gz
fastq2_2 = hFOBsDiff_rep2_R2.fastq.gz
fastq3_1 = hFOBsDiff_rep3_R1.fastq.gz
fastq3_2 = hFOBsDiff_rep3_R2.fastq.gz
fastq4_1 = hFOBsDiff_rep4_R1.fastq.gz
fastq4_2 = hFOBsDiff_rep4_R2.fastq.gz
tss_enrich = /mnt/isilon/sfgi/atac_dnase_pipelines_genome_data/hg19/ataqc/hg19_gencode_tss_unique.bed.gz
dnase = /mnt/isilon/sfgi/atac_dnase_pipelines_genome_data/hg19/ataqc/reg2map_honeybadger2_dnase_all_p10_ucsc.bed.gz
prom = /mnt/isilon/sfgi/atac_dnase_pipelines_genome_data/hg19/ataqc/reg2map_honeybadger2_dnase_prom_p2.bed.gz
enh = /mnt/isilon/sfgi/atac_dnase_pipelines_genome_data/hg19/ataqc/reg2map_honeybadger2_dnase_enh_p2.bed.gz
reg2map = /mnt/isilon/sfgi/atac_dnase_pipelines_genome_data/hg19/ataqc/dnase_avgs_reg2map_p10_merged_named.pvals.gz
roadmap_meta = /mnt/isilon/sfgi/atac_dnase_pipelines_genome_data/hg19/ataqc/eid_to_mnemonic.txt